
body {
    background-image: url("../images/SpaceBackground.png");
}

.jumbotron {
    background-image: url("../images/StarWarsLogo.png");
    color: rgb(251, 255, 0);
}

#classHeading2 {
    background-color: rgb(6, 6, 7);
    color: rgb(251, 255, 0);
    text-align: center;
}

#panelBody {
    background-image: url("../images/LavaBackground.jpg");
}

h5 {
    margin-bottom: 0px;
    margin-top: 6px;
}

#battleArenaText {
    font-size: 50px;
    font-weight: bolder;
}

#battleArena {
    border: solid 20px black;
    color: black;
    text-align: center;
    margin-top: 30px;
    height: 600px;
}

.characterPanel {
    height: 300px;
}

#arenaChar2 {
    float: left;
    margin-left: 10%;
}

#arenaChar1 {
    float: left;
    margin-left: 12%;
}

#versus {
    float: left;
    font-size: 10px;
}

#versusBox {
    width: 15%;
    height: 100px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 200px;
}

.notPickedYet:hover {
    opacity: .92;
}

#attackButton {
      height:70px;
    width:140px;
    background-color: black;
    color:yellow;
    text-align: center;
    margin-left: 1.5%;
    font-size: 20px;
    font-weight: bolder;
    }

#playerOneHealthBox {
    height:70px;
    width:100%;
    background-color: black;
    border: solid 2px #ccc;
    color:yellow;
    margin-top:0%;
    float: left;
    margin-left: 16%;
}
#playerTwoHealthBox {
    height:70px;
    width:100%;
    background-color: black;
    color:yellow;
    border: solid 2px #ccc;
    margin-top:0%;
    float: left;
    margin-left: -14%;
}
#playerOneHealthText {
    margin-top:0%;
    padding-top:5%;
}
#playerTwoHealthText {
    margin-top:0%;
    padding-top:5%;
}